body{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 700px;
     overflow: hidden;
     position: relative;
     background: cover;
}
section img{
    width: 100%;
    position: absolute;


}

h1{
    padding-top: 5%;
    text-align: center;

}
.random{
    margin: 10%;
    display: block;

}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent,#30336b);

    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#ff7979);
}